.form-content
{
    padding: 150px;
    border: 100px solid #ced4da;
    margin-bottom: 150px;
    margin-top: 150px;
}
.form-control{
    border-radius:1.5rem;
}
.btnSubmit
{
    border:none;
    border-radius:1.5rem;
    padding: 1%;
    width: 20%;
    cursor: pointer;
    background: #0062cc;
    color: #fff;
}